{% extends 'base.html' %}
{% load static %}

{% block title %}All Shipments{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>All Shipments</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Tracking Number</th>
                <th>Client</th>
                <th>Shipment Type</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Status</th>
                <th>Shipment Cost</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for shipment in shipments %}
            <tr>
                <td>{{ shipment.tracking_number }}</td>
                <td>{{ shipment.client.name }}</td>
                <td>{{ shipment.get_shipment_type_display }}</td>
                <td>{{ shipment.origin }}</td>
                <td>{{ shipment.destination }}</td>
                <td>{{ shipment.status }}</td>
                <td>Ksh{{ shipment.shipment_cost }}</td>
                <td>{{ shipment.created_at|date:"Y-m-d H:i" }}</td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        {% if user.role == "admin" or user.role == "staff" %}
                        <!-- Admin/Staff Actions -->
                        <div class="d-flex flex-column gap-1">
                            <!-- View Button -->
                            <a href="{% url 'shipment_detail' shipment.id %}"
                                class="btn btn-sm btn-outline-info">View</a>
                            <a href="{% url 'update_shipment' shipment.id %}"
                                class="btn btn-sm btn-outline-warning">Edit</a>
                        </div>

                        <div class="d-flex flex-column gap-1">
                            <!-- Delete Button -->
                            <a href="{% url 'delete_shipment' shipment.id %}" class="btn btn-sm btn-outline-danger"
                                onclick="return confirm('Are you sure?');">Delete</a>
                            <!-- Invoice Button -->
                            <a href="{% url 'generate_invoice' shipment.id %}"
                                class="btn btn-sm btn-outline-success">Invoice</a>
                        </div>
                        {% endif %}
                    </div>
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="9" class="text-center">No shipments found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}