{% extends 'base.html' %}
{% load static %}

{% block title %}All Shipments{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>All Shipments</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Tracking Number</th>
                <th>Client</th>
                <th>Shipment Type</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Recepient Name</th>
                <th>Recepient Phone</th>
                <th>Status</th>
                <th>Shipment Cost</th>
                <th>Complte</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for shipment in shipments %}
            <tr>
                <td>{{ shipment.tracking_number }}</td>
                <td>{{ shipment.client.name }}</td>
                <td>{{ shipment.shipment_type }}</td>
                <td>{{ shipment.origin }}</td>
                <td>{{ shipment.destination }}</td>
                <td>{{ shipment.recepient_name }}</td>
                <td>{{ shipment.recepient_phone }}</td>
                <td>{{ shipment.status }}</td>
                <td>KES{{ shipment.shipment_cost }}</td>
                <td>{{ shipment.shipment_complete }}</td>
                <td>{{ shipment.created_at|date:"Y-m-d H:i" }}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item pay_sale_due" href="#">
                                        Pay
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'shipment_detail' shipment.id %}">
                                        View
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item edit_contact_button"
                                        href="{% url 'update_shipment' shipment.id %}">
                                        Edit
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item update_contact_status"
                                        href="{% url 'delete_shipment' shipment.id %}">
                                        Delete
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'invoice_generate' shipment.id %}">
                                        Invoice
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'generate_receipt' shipment.id %}">
                                        Shipment Receipt
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="9" class="text-center">No shipments found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}